* {
  box-sizing: border-box;
}
body {
  background: #000000;
  font-family: "Playfair Display", serif;
  font-family: "PT Sans", sans-serif;
}
.container {
  max-width: 19400px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 15px 0 15px;
}
.header__top-img-phone {
  margin-right: 15px;
}
.header__top-registr {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  text-decoration: none;
}
.header__top-img-in {
  margin-right: 10px;
}
.header__top-info {
  margin-left: -110px;
}
.header__top-in {
  margin-right: -110px;
}
.header__top-info,
.header__top-in {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  background: #0f0f0f;
  height: 80px;
}
.nav__logo {
  margin: 0;
  position: relative;
  z-index: 20;
}
.nav__items {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.nav__item {
  display: flex;
}
.nav__item-list {
  width: 136px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  white-space: nowrap;
}
.nav__item-list:hover {
  background: #1f1f1f;
}
.nav__item-link {
  width: 136px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a1a1a1;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 20;
}
.nav__bx-cart {
  margin-right: 40px;
}
.nav__btn {
  display: none;
  width: 40px;
  height: 30px;
  padding: 0;
  background: #0f0f0f;
  border: none;
  position: relative;
  z-index: 20;
  cursor: pointer;
}
.nav__btn span {
  display: block;
  height: 2px;
  background-color: #a1a1a1;
  position: relative;
}
.nav__btn span::before,
.nav__btn span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #a1a1a1;
  left: 0;
}
.nav__btn span::before {
  top: -10px;
}
.nav__btn span::after {
  top: 10px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 810px;
}
.hero__logo {
  padding-top: 160px;
  padding-bottom: 80px;
}
.hero__text {
  max-width: 730px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 155px;
}

.new-collection__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.new-collection__new-season {
  text-align: center;
}
.title {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;

  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  margin-top: 93px;
  padding-bottom: 50px;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60%;
  height: 2px;
  margin-left: -30%;
  background: #ffffff;
}
.item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
.list {
  display: block;
  text-align: left;
  list-style: none;
}
.new-collection .list {
  margin-right: 50px;
}
.new-collection .list:last-child {
  margin-right: 0;
}
.icon {
  display: block;
  min-width: 260px;
  height: 325px;
  background-color: #191b1c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img {
  background-image: url(../images/clock.png);
  background-size: 215px;
}
.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.prais {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #d0d0d0;
}
.new-collection__katalog {
  width: 880px;
  height: 730px;
  background-image: url(../images/new-colektion.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.new-collection__button {
  padding: 12px 28px;
  border: 1px solid #ffffff;
  max-width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 100px;
}

.old-collection__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.old-collection__img {
  width: 880px;
  height: 600px;
  background-image: url(../images/old-colektion.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.old-collection__katalog {
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.old-collection__text {
  max-width: 471px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 60px;
}
.new-collection__button {
  max-width: 100%;
  border: 1px solid #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.arrivals__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.arrivals .list {
  margin-right: 23px;
}
.arrivals__item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 425px;
  margin-right: 325px;
  padding: 0;
}
.brands {
  background-color: #0f0f0f;
}
.brands__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.brands___item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands__list {
  margin-right: 30px;
  list-style: none;
  margin-bottom: 65px;
}
.list-img {
  display: block;
  background-image: url(../images/brands.png);
  background-size: contain;
  width: 255px;
  height: 94px;
}

.fotter {
  background-image: url(../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 65px;
  margin: 0;
}
.fotter__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.fotter__text {
  width: 350px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.categories__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #d0d0d0;
  text-decoration: none;
}
.fotter__shop {
  margin-right: 30px;
}
.fotter__item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 400px;
  padding: 0;
}
.fotter__list {
  list-style: none;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #0f0f0f;
  background-size: 100% 100%;
}
.mailling__form {
  margin-top: 37px;
}
.fotter__input {
  width: 210px;
  height: 42px;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.footer__button {
  background-color: #0f0f0f;
  width: 140px;
  height: 41px;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  .header__top {
    justify-content: flex-start;
  }
  .header__top-info,
  .header__top-in {
    margin: 0 auto;
  }
  .nav__item {
    transform: translateY(-150%);
    transition: all 0.5s;
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    background-color: #0f0f0f;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
  }
  .nav__item-list {
    width: 100%;
  }
  .nav__item-link {
    width: 100%;
  }
  .nav__item.active {
    transform: translateY(0);
    transition: all 0.5s;
  }
  .nav__btn {
    display: block;
  }
}
